<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>GuestMash</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>

<body>
    <header class="bg-light">
        <nav class="navbar">
            <div class="navbar-brand"><a href="/" style="text-decoration: none;" class="text-dark">GuestMash</a></div>
            <ul class="nav justify-content-end">
                <li class="nav-item"><a class="nav-link" href="/">Register</a></li>
                <li class="nav-item"><a class="nav-link" href="/guests">Guests</a></li>
            </ul>
        </nav>
    </header>
    <main>
        {{{body}}}
    </main>
    <footer>
        <div class="footer p-3 bg-light fixed-bottom text-center">
            Copyright &copy; 2019
        </div>
    </footer>
</body>

</html>