<div class="col-xs-10 col-sm-6 col-md-8 mx-auto border my-5 shadow-sm p-3 bg-white rounded">
    <div class="row justify-content-center">
        <h2>Add Guest</h2>
    </div>
    <form action="/user/register" method="POST" enctype="multipart/form-data">
        <div class="row form-group">
            <div class="col-xs-12 col-sm-6 col-md-6 mt-2">
                <input type="text" name="fname" placeholder="Enter First Name" class="form-control" required />
            </div>
            <div class="col-xs-12 col-sm-6 col-md-6 mt-2">
                <input type="text" name="lname" placeholder="Enter Last Name" class="form-control" required />
            </div>
        </div>
        <div class="form-group">
            <label for="propic">Profile Photo</label>
            <input type="file" name="propic" class="form-control-file" required />
        </div>
        <div class="form-group row justify-content-center">
            <input type="submit" value="Register" class="btn btn-primary" />
        </div>
    </form>
    <div class="div">
        <div class="row justify-content-center">
            <h2 class="text-info">Enjoy Free Trial!</h2>
        </div>
        <div class="row justify-content-center">
            <p><span class="text-warning">Warning:</span> Guests are <span class="text-danger">deleted</span> every
                15
                mins</p>
        </div>
    </div>
</div>